# üîπ 1Ô∏è‚É£ Data Types in Python
### üî∏ Integer (int)

In [1]:
a = 10
b = -5
print(a, b)

10 -5

### üî∏ Float (float)

In [2]:
pi = 7.23
price = 99.99
print(pi, price)

7.23 99.99

### üî∏ String (str)
Text data (inside quotes)

In [3]:
name = "Sayali"
city = "Pune"
print(name, city)

Sayali Pune

### üî∏ Boolean (bool) 

True or False

In [4]:
is_python_easy = True
is_rainy_weather = False
print(is_python_easy, is_rainy_weather)

True False

# üîπ 2Ô∏è‚É£ Check Data Type

In [5]:
x = 20
print(type(x))

y = "abc"
print(type(y))

<class 'int'>
<class 'str'>

# üîπ 3Ô∏è‚É£ Type Conversion (Very Important ‚≠ê)
### üî∏ String to Integer

In [10]:
age = input("Your Age :")
age = int(age)
print(age)

ValueError: invalid literal for int() with base 10: 'jgjj'

### üî∏ Integer to String

In [17]:
num = 25
print("My number is :" +str(num))

My number is :25

### üî∏ Float Conversion

In [18]:
x = int(3.9)
print(x)

3

‚ö†Ô∏è Common Beginner Mistake

In [ ]:
# ‚ùå This gives error:
age = input("Enter age: ")
print(age + 5)

TypeError: can only concatenate str (not "int") to str

In [21]:
# ‚úÖ Correct way:
age = int(input("Enter age:"))
print(age + 5)

30

üìù Practice Tasks (IMPORTANT)

1Ô∏è‚É£ Take two numbers from user and print their sum

In [ ]:
a = int(input("Enter any number:"))
b = int(input("Enter another number:"))

# print("Sum is:",a + b) or

sum = a + b
print(sum)

8

2Ô∏è‚É£ Take name and age, print a sentence

In [27]:
name = input("Your Name:")
age = input("Your Age:")
print("My name is ", name ,"and I am ", age ,"years old")

My name is  abc and I am  20 years old

3Ô∏è‚É£ Check type of each variable

In [30]:
name = "abc"
age = 25
height = 5.2
is_student =True
print(type(name))
print(type(age))
print(type(height))
print(type(is_student))

<class 'str'>
<class 'int'>
<class 'float'>
<class 'bool'>

4Ô∏è‚É£ Take two numbers and print their product

In [31]:
num1 = int(input("Enter num 1:"))
num2 = int(input("Enter num 2:"))
product = num1 * num2
print("Product is:",product)

Product is: 200