# üìÖ Day 4 ‚Äì Loops in Python
## üîÅ **What is a Loop?**
A loop runs the same code multiple times.
Instead of writing print() 5 times ‚Üí use a loop üëç
### üîπ 1Ô∏è‚É£ for Loop (Most Used)

In [1]:
for i in range(5):
    print(i)

0
1
2
3
4

In [2]:
for i in range(1, 6):
    print(i)

1
2
3
4
5

### üîπ 2Ô∏è‚É£ while Loop

Runs as long as condition is True

In [ ]:
i = 1
while i <= 5:
    print(i)
    i = i + 1

### üîπ 3Ô∏è‚É£ break Statement

Stops the loop

In [19]:
for i in range(1, 10):
    if i == 5:
        break
    print(i)

1
2
3
4

### üîπ 4Ô∏è‚É£ continue Statement
Skips current iteration

In [27]:
for i in range(1, 11):
    if i == 5:
        continue
    print(i)

1
2
3
4
6
7
8
9
10

### üîπ 5Ô∏è‚É£ pass Statement

Does nothing (used as placeholder)

In [34]:
for i in range(5):
    pass

### üìù Practice Tasks (Very Important ‚≠ê)
##### Task 1Ô∏è‚É£ --Print numbers from 1 to 10

In [35]:
for i in range(1, 11):
    print(i)

1
2
3
4
5
6
7
8
9
10

In [37]:
i = 1
while i <= 10:
    print(i)
    i = i + 1

1
2
3
4
5
6
7
8
9
10

##### Task 2Ô∏è‚É£ ---Print even numbers from 1 to 20

In [ ]:
for i in range (1, 21):
    if i % 2 == 0:
        print(i)
#  even numbers only

2
4
6
8
10
12
14
16
18
20

In [ ]:
# or 
for i in range(1, 21):
    if i % 2 != 0:
        continue
    print(i)
# even numbers

2
4
6
8
10
12
14
16
18
20

In [48]:
# odd numbers
for i in range(1, 10):
    if i % 2 != 0:
        print(i)

1
3
5
7
9

##### Task 3Ô∏è‚É£--Print table of a number (example: 5)

In [53]:
i = 1
while i <= 10:
    print(5 * i)
    i = i + 1

5
10
15
20
25
30
35
40
45
50

In [54]:
i = 1
while i <= 10:
    print("5 *", i, "=", 5 * i)
    i = i + 1

5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45
5 * 10 = 50

##### Task 4Ô∏è‚É£ ‚≠ê --Print this pattern:

In [ ]:

*
**
***
****
*****

In [57]:
i = 1
while i <= 5:
    print("*" * i)
    i = i + 1

*
**
***
****
*****